<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @whateveraskjhdasdk.caption %>
</p>

<%= link_to 'Edit', edit_whateveraskjhdasdk_path(@whateveraskjhdasdk) %> |
<%= link_to 'Back', whateveraskjhdasdks_path %>
